{% extends "food/base.html" %}
{% block body %}
<div class="container-fluid" style="background-color: rgba(200, 142, 248, 0.815)">
<div class="row" style="margin:70px ;background-color: rgb(247, 169, 169);">
    <div class="col-md-5" style="background-color: rgb(252, 248, 49)">
<h1>{{object.item_name}}</h1>
<h2>{{object.item_desc}}</h2>
<h1>{{object.item_price}}</h1>
<ul>
<li><a type="button" href="{% url 'food:delete' item.id %}" >delete</a></li>
<li><a href="{% url 'food:edit_item' item.id %}" >edit</a></li>
</ul>
</div>
<div class="col-md-5" style="margin-left: 200px;background-color: rgb(106, 252, 49);">
    <img class="card" height="220px" src="{{ item.item_img }}"/>
</div>
</div>
</div>
{% endblock %}